*.iml
.gradle
/AIDigital/local.properties
/DAA/local.properties
/DAA-Domain/local.properties
/AIDigital/.idea/workspace.xml
/DAA/.idea/workspace.xml
/DAA-Domain/.idea/workspace.xml
/AIDigital/.idea/libraries
/DAA/.idea/libraries
/DAA-Domain/.idea/libraries
/AIDigital/.gradle
/DAA/.gradle
/DAA-Domain/.gradle
/AIDigital/.DS_Store
/DAA/.DS_Store
/DAA-Domain/.DS_Store
/AIDigital/*.iml
/DAA/*.iml
/DAA-Domain/*.iml
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/AIDigital/app/build/
/AIDigital/build
/DAA/app/build/
/DAA/build/
/DAA-Domain/Daa-Domain/build/
/DAA-Domain/build/
